
.hide  {
    display: none !important; 
}

body{
    background-color: grey;
}

.quiz { 
    display:flex;
    justify-content: center;
    margin-top: 10%;
    
    
}


button, #store{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:13px;
    border-radius: 13px;
    font-size: larger;
    width: 75%;
    background-color: #10EE67;
    color: white;
}

button:hover{
    background-color: #04471f !important;
}

.timer-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border : 2px solid black;
    border-radius: 12px;
    font-size: large;
    color: white;
    background-color: #e4b704;
    
}

.timer-box h3{
    margin-left: 15px;
}

.timer-box p {
    padding-left: 20px
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input{
    padding: 3px
}

#question-section, #greeting-box, #final-score, #highScores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e4b704;
    color: white;
    font-size: larger;
    padding: 3%;
    border: 2px solid black;
    border-radius: 12px;
    
    
}



li {
    list-style: none;
    margin: 5px;
}





